.hotel--content {
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
  
  .row {
      margin: 0 auto;
      margin-top: 5rem;
  }
  
  #hotel--section {
      display: flex;
      align-items: center;
      justify-content: center;
  
  }

  .icon--city h5{
    font-size: 16px;
  }

  .card-hotel {
      min-width: 17rem;
  }