.destiny--content {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.row {
  margin: 0 auto;
  margin-top: 5rem;
}

#destinos--section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-destino {
  min-width: 17rem;
}
