.card--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.24);
  max-width: 300px;

}

.icon--city {
    display: flex;
    align-items: center;
}

.card--content h5 {
    text-align: left;
    z-index: 10;
}

.card--content img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    margin: 0 auto;
}

.description {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin: 20px 10px;
}

.description i {
    margin-right: 5px;
}

.btn--action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: .6rem;
}

.dsmovie-btn-edit {
    background-color: rgb(207, 240, 255);
}

.dsmovie-btn-delete {
    background-color: rgb(253, 186, 186);
}