footer {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  flex-wrap: wrap;
  background-color: #f8f8f8;
}

.left--side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.left--side h5 {
  margin-left: 10px;
}

.right--side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.social--content {
    display: flex;
    align-items: center;
}

.social--content i {
    margin-right: 10px;
    font-size: 20px;
}

@media screen and (max-width: 990px) {
  .left--side {
    margin-top: 2rem;
  }
  .right--side {
    margin-top: 2rem;
  }
}